boto3
ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
openpyxl
pandas
pip
plotly>=5.0
python-dotenv
ruff
s3fs
scikit-learn
streamlit>=1.30
tqdm
typer
-e .
requests==2.31.0
beautifulsoup4==4.12.2
openai>=1.0.0
tenacity==8.2.3
